body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
}
#u2019 {
  position:absolute;
  left:98px;
  top:36px;
  width:1200px;
  height:80px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2021 {
  position:absolute;
  left:100px;
  top:116px;
  width:1200px;
  height:170px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:77px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u2023 {
  position:absolute;
  left:114px;
  top:141px;
  width:172px;
  height:50px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2025 {
  position:absolute;
  left:143px;
  top:196px;
  width:106px;
  height:20px;
  color:#666666;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2027 {
  position:absolute;
  left:307px;
  top:163px;
  width:71px;
  height:30px;
  color:#666666;
}
#u2028 {
  position:absolute;
  left:2px;
  top:5px;
  width:59px;
  word-wrap:break-word;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 100, 2, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2029 {
  position:absolute;
  left:398px;
  top:158px;
  width:494px;
  height:40px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:12px;
  width:490px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 139, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2031 {
  position:absolute;
  left:398px;
  top:140px;
  width:85px;
  height:20px;
  color:#FFFFFF;
}
#u2032 {
  position:absolute;
  left:2px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF8700;
}
#u2033 {
  position:absolute;
  left:495px;
  top:138px;
  width:29px;
  height:20px;
  color:#FF8700;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 100, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2035 {
  position:absolute;
  left:890px;
  top:157px;
  width:101px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u2036 {
  position:absolute;
  left:30px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 100, 2, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6402;
}
#u2037 {
  position:absolute;
  left:1013px;
  top:157px;
  width:121px;
  height:41px;
  font-size:16px;
  color:#FF6402;
}
#u2038 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u2039 {
  position:absolute;
  left:100px;
  top:238px;
}
#u2039_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2039_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 128, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:36px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:10px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
.u2044 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 128, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
.u2045_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 100, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2045.mouseOver {
}
.u2046 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2042-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
}
#u2042-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
}
#u2042-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:36px;
}
#u2042-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:36px;
}
#u2042-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:36px;
}
#u2042-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:36px;
}
#u2042-8 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:36px;
}
#u2042 {
  position:absolute;
  left:100px;
  top:238px;
  width:800px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2047 {
  position:absolute;
  left:100px;
  top:238px;
  width:100px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2047_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(244, 75, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2047.mouseOver {
}
#u2048 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(244, 75, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2049 {
  position:absolute;
  left:201px;
  top:238px;
  width:100px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2050 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2051 {
  position:absolute;
  left:302px;
  top:238px;
  width:100px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2051_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(244, 75, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2051.mouseOver {
}
#u2052 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2053 {
  position:absolute;
  left:402px;
  top:238px;
  width:100px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2053_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(244, 75, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2053.mouseOver {
}
#u2054 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2055 {
  position:absolute;
  left:502px;
  top:238px;
  width:100px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2055_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(244, 75, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2055.mouseOver {
}
#u2056 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2057 {
  position:absolute;
  left:605px;
  top:238px;
  width:100px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2057_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(244, 75, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2057.mouseOver {
}
#u2058 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2059 {
  position:absolute;
  left:706px;
  top:238px;
  width:100px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2059_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(244, 75, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2059.mouseOver {
}
#u2060 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2061 {
  position:absolute;
  left:808px;
  top:238px;
  width:100px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2061_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(244, 75, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2061.mouseOver {
}
#u2062 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:44px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  position:absolute;
  left:100px;
  top:274px;
  width:1200px;
  height:44px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:14px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2065 {
  position:absolute;
  left:110px;
  top:284px;
  width:29px;
  height:20px;
}
#u2065_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2065.mouseOver {
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2067 {
  position:absolute;
  left:167px;
  top:284px;
  width:73px;
  height:19px;
}
#u2067_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2067.mouseOver {
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2069 {
  position:absolute;
  left:147px;
  top:284px;
  width:15px;
  height:20px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 100, 2, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6402;
}
#u2071 {
  position:absolute;
  left:1150px;
  top:157px;
  width:121px;
  height:41px;
  font-size:16px;
  color:#FF6402;
}
#u2072 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2073 {
  position:absolute;
  left:429px;
  top:419px;
  width:498px;
  height:24px;
  font-size:18px;
  text-align:center;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2075 {
  position:absolute;
  left:430px;
  top:463px;
  width:508px;
  height:19px;
  text-align:center;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  white-space:nowrap;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:278px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  position:absolute;
  left:429px;
  top:504px;
  width:617px;
  height:278px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:131px;
  width:613px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u2079 {
  position:absolute;
  left:453px;
  top:521px;
  width:123px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F44B00;
  text-align:center;
}
#u2081 {
  position:absolute;
  left:620px;
  top:521px;
  width:39px;
  height:22px;
  font-size:16px;
  color:#F44B00;
  text-align:center;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2083 {
  position:absolute;
  left:467px;
  top:659px;
  width:71px;
  height:20px;
  text-align:center;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F44B00;
  text-align:center;
}
#u2085 {
  position:absolute;
  left:565px;
  top:658px;
  width:39px;
  height:22px;
  font-size:16px;
  color:#F44B00;
  text-align:center;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(244, 75, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2087 {
  position:absolute;
  left:467px;
  top:697px;
  width:121px;
  height:36px;
  color:#FFFFFF;
}
#u2088 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 75, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F44B00;
}
#u2089 {
  position:absolute;
  left:429px;
  top:811px;
  width:121px;
  height:36px;
  font-size:14px;
  color:#F44B00;
}
#u2090 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2091 {
  position:absolute;
  left:467px;
  top:574px;
  width:121px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
}
#u2092 {
  position:absolute;
  left:16px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2091_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2093 {
  position:absolute;
  left:467px;
  top:616px;
  width:87px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
}
#u2094 {
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2093_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2095 {
  position:absolute;
  left:564px;
  top:616px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
}
#u2096 {
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2095_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2097 {
  position:absolute;
  left:649px;
  top:616px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
}
#u2098 {
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2097_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2099 {
  position:absolute;
  left:734px;
  top:616px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
}
#u2100 {
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2099_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2101 {
  position:absolute;
  left:474px;
  top:756px;
  width:362px;
  height:16px;
  font-size:12px;
}
#u2102 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#FF0000;
}
#u2103 {
  position:absolute;
  left:619px;
  top:574px;
  width:121px;
  height:16px;
  font-size:12px;
  text-decoration:underline;
  color:#FF0000;
}
#u2104 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
