body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4811 {
  position:absolute;
  left:100px;
  top:100px;
  width:134px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4812 {
  position:absolute;
  left:20px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u4813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:888px;
}
#u4813 {
  position:absolute;
  left:100px;
  top:170px;
  width:1256px;
  height:888px;
}
#u4814 {
  position:absolute;
  left:2px;
  top:436px;
  width:1252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:804px;
}
#u4815 {
  position:absolute;
  left:107px;
  top:2215px;
  width:1242px;
  height:804px;
}
#u4816 {
  position:absolute;
  left:2px;
  top:394px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u4817 {
  position:absolute;
  left:56px;
  top:1261px;
  width:1px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4818 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u4819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1271px;
  height:825px;
}
#u4819 {
  position:absolute;
  left:100px;
  top:3205px;
  width:1271px;
  height:825px;
}
#u4820 {
  position:absolute;
  left:2px;
  top:404px;
  width:1267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4821 {
  position:absolute;
  left:100px;
  top:2146px;
  width:85px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4822 {
  position:absolute;
  left:20px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1315px;
  height:903px;
}
#u4823 {
  position:absolute;
  left:78px;
  top:1162px;
  width:1315px;
  height:903px;
}
#u4824 {
  position:absolute;
  left:2px;
  top:444px;
  width:1311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4825 {
  position:absolute;
  left:100px;
  top:1076px;
  width:117px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4826 {
  position:absolute;
  left:20px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
