body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:3009px;
}
#u4829 {
  position:absolute;
  left:83px;
  top:142px;
  width:503px;
  height:3009px;
}
#u4830 {
  position:absolute;
  left:2px;
  top:1496px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:3625px;
}
#u4831 {
  position:absolute;
  left:735px;
  top:142px;
  width:750px;
  height:3625px;
}
#u4832 {
  position:absolute;
  left:2px;
  top:1804px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
