body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4702 {
  position:absolute;
  left:66px;
  top:87px;
  width:937px;
  height:71px;
}
#u4703 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  word-wrap:break-word;
}
#u4704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4704 {
  position:absolute;
  left:66px;
  top:187px;
  width:937px;
  height:71px;
}
#u4705 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  word-wrap:break-word;
}
#u4706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4706 {
  position:absolute;
  left:66px;
  top:309px;
  width:937px;
  height:71px;
}
#u4707 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  word-wrap:break-word;
}
#u4708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4708 {
  position:absolute;
  left:66px;
  top:447px;
  width:937px;
  height:193px;
}
#u4709 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  word-wrap:break-word;
}
#u4710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4710 {
  position:absolute;
  left:66px;
  top:660px;
  width:937px;
  height:57px;
}
#u4711 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  word-wrap:break-word;
}
#u4712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4712 {
  position:absolute;
  left:66px;
  top:773px;
  width:937px;
  height:57px;
}
#u4713 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  word-wrap:break-word;
}
#u4714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4714 {
  position:absolute;
  left:66px;
  top:911px;
  width:937px;
  height:57px;
}
#u4715 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  word-wrap:break-word;
}
#u4716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4716 {
  position:absolute;
  left:66px;
  top:1018px;
  width:937px;
  height:234px;
}
#u4717 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  word-wrap:break-word;
}
#u4718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:405px;
}
#u4718 {
  position:absolute;
  left:66px;
  top:1271px;
  width:574px;
  height:405px;
}
#u4719 {
  position:absolute;
  left:2px;
  top:194px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4720 {
  position:absolute;
  left:66px;
  top:6px;
  width:937px;
  height:71px;
}
#u4721 {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  word-wrap:break-word;
}
#u4722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:356px;
}
#u4722 {
  position:absolute;
  left:81px;
  top:1789px;
  width:1224px;
  height:356px;
}
#u4723 {
  position:absolute;
  left:2px;
  top:170px;
  width:1220px;
  visibility:hidden;
  word-wrap:break-word;
}
