body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:913px;
}
#u4809 {
  position:absolute;
  left:35px;
  top:1302px;
  width:1263px;
  height:913px;
}
#u4810 {
  position:absolute;
  left:2px;
  top:448px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
